.search-tags{
    display: block;
    h2{
        color: var(--text-color);
        margin-bottom: .5em;
        &.border-start{
            border-color:#FDA12B
        }
        
    }
    .search-tags-container{
        .search-item{
            background-color: #FDA12B;
            display: inline-block;
            padding: .5em 1em;
            margin: 0 1em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);

        }
    }
   
}